@model IEnumerable<ELECCIONES.Models.Partidos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<a asp-action="Admin" asp-controller="Home">Regresar</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoPartido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

       var photoPath = "~/images/" + ((!string.IsNullOrEmpty(item.LogoPartido) ? item.LogoPartido : "Flag.png"));
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogoPartido)
            </td>
            <td>

                @if (item.Estado == true)
                {
                    <p>Activo</p>
                }
                else
                {
                    <p>Inactivo</p>
                }
            </td>
            <td>
                <img style="width: 200px;height: 200px" src="@photoPath" alt="Alternate Text" asp-append-version="true" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPartidos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPartidos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPartidos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
