@model IEnumerable<ELECCIONES.Models.Candidatos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
 <a asp-action="Admin" asp-controller="Home">Regresar</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidoPerteneceNavigation) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuestoAspiraNavigation)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            var photoPath = "~/images/" + ((!string.IsNullOrEmpty(item.FotoPerfil) ? item.FotoPerfil : "download.jpg"));

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
           
                <td>

                    @if (item.Estado == true)
                    {
                        <p>Activo</p>
                    }
                    else
                    {
                       <p>Inactivo</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartidoPerteneceNavigation.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuestoAspiraNavigation.Descripcion)
                </td>

                <td>
                    <img style="width: 200px;height: 200px" src="@photoPath" alt="Alternate Text" asp-append-version="true" />
                </td>

                <td>
                   
                    <a asp-action="Edit" asp-route-id="@item.IdCandidatos">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCandidatos">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCandidatos">Delete</a>
                </td>
            </tr>
                  }
  
    </tbody>

</table>
