@model IEnumerable<ELECCIONES.Models.PuestoElecto>

@{
    ViewData["Title"] = "Votacion";
}


<h5>Bienvenido @ViewBag.NombreSession @ViewBag.ApellidoSession</h5>

<h4>Seleccione un puesto al cual desea votar</h4>



<table class=" table table-bordered"
      <tr>

            @*<td>@Model.Cedula @ViewBag.ciudadano</td>*@
      </tr>

      <thead>
            <tr>
                 <th>
                         @Html.DisplayNameFor(model => model.Nombre)
                 </th>

            </tr>
      </thead>

      <tbody>
          @{ int contadorval1 = 0;
              int contadorval2 = 0; }
          @foreach (var item in Model)
          {
              contadorval1++;
              <tr>
                  <td>

                      @Html.DisplayFor(model => item.Nombre)

                  </td>

                  <td>
                      @{ var permicion = ViewBag.Debuttoner + " ";

                          if (permicion.Contains(item.Nombre))
                          {
                              contadorval2++;
                          }
                          else
                          { <a asp-action="ProcesoVotacion" asp-route-id="@item.IdPuestoE" class="btn btn-info">Selecciona</a>}
                      }

                  </td>


              </tr>

          }

      </tbody>

</table>
@if (contadorval1 == contadorval2)
{
    {
        <a asp-action="Finalizar" class="btn btn-danger">Finalizar</a>}
}
else { }
